body {
	margin: 0 0 0 0;
	font-family: Times;
	background-color: black;
	width: 100%;
	height: 100%;
	color: black;
	text-align: center;
}

.nav {
	width: 100%;
	height: 100%;
}

.nav a {
	font-family: Helvetica;
	font-size: 2.5em;
	letter-spacing: 0.025em;
	font-weight: 800;
	text-decoration: none;
	text-transform: uppercase;
	color: black;

	width: 200px;
	border-bottom: solid 6px white;
}

.nav a:hover {
	color: white;
}

.top, .right, .left, .bottom {
	position: fixed;
}

.top {
	margin-left: -100px;
	top: 5%;
	left: 50%;
}

.right {
	top: 50%;
	right: 0%;
	-webkit-transform: rotate(90deg);
}

.left {
	top: 50%;
	left: 0%;
	-webkit-transform: rotate(-90deg);
}

.bottom {
	margin-left: -100px;
	bottom: 5%;
	left: 50%;
}

.page {
	position: fixed;
	top: 17%;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	width: 50%;
	height: 70%;

	background-color: #eee;

	overflow: scroll;

	padding: 0 4em 0 4em;
}

.page h1 {
	margin: 0;
	font-size: 6.5em;
	line-height: 0.95em;
	font-weight: 400;
	letter-spacing: -0.025em;
	text-transform: uppercase;
}

.page p {
	margin: 0;
	text-indent: 2em;
	text-align: left;
	font-size: 1.5em;
	line-height: 1.5em;
}

.page p:first-of-type {
	text-indent: 0em;
}

.page p.quote {
	font-style: italic;
	letter-spacing: -0.02em;
}

.page p.quote-author {
	text-align: right;
	margin-bottom: 3em;
}