.object-output {
	height: 90%;
	width: 90%;
	margin: 0 auto;
	text-align: center;
	background-color: none;
	background-repeat: no-repeat;
	display: block;

	filter: grayscale(100%);
}

input, button, .title, .words {
	display: none;
}